.buildlog
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
.settings/
build/
ios/.generated/
pubspec.lock
.flutter-plugins
local.properties
.xcconfig
.gradle
gradle-wrapper.properties
gradlew
gradlew.bat
gradle-wrapper.jar
android/app/src/main/gen/
